<div class="signup2">
  <div>
    <app-card>
      <h2>Personal Information</h2>
      <div class="signup2__content">
        <div class="signup2__left">
          <h2>Basic Information</h2>
          <app-input
            label="First Name"
            [icon]="false"
            errorMessage="error message"
          ></app-input>
          <app-input
            label="Date of Birth"
            [icon]="false"
            errorMessage="error message"
          ></app-input>
          <app-input
            label="Last Name"
            [icon]="false"
            errorMessage="error message"
          ></app-input>
          <app-input
            label="Contact Number"
            [icon]="false"
            errorMessage="error message"
          ></app-input>
        </div>
        <div class="signup2__right">
          <h2>Address</h2>
          <app-input
            label="First Name"
            [icon]="false"
            errorMessage="error message"
          ></app-input>
          <app-input
            label="First Name"
            [icon]="false"
            errorMessage="error message"
          ></app-input>
          <app-input
            label="First Name"
            [icon]="false"
            errorMessage="error message"
          ></app-input>
          <app-input
            label="First Name"
            [icon]="false"
            errorMessage="error message"
          ></app-input>
        </div>
      </div>
      <div class="signup2__button">
        <button>Submit</button>
        <p>Step 2</p>
      </div>
    </app-card>
  </div>
</div>
