.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 1024px;
  width: 100%;
  border-radius: 20px;
  padding: 2.5rem;
  background: rgba(255, 255, 255, 0.9);

  @media (min-width: 993px) {
    width: 1024px !important;
  }
}
