<nav class="nav">
  <div class="nav__header">
    <div class="nav__brand">
      <p>umami</p>
    </div>
    <div
      class="nav__burger"
      [ngClass]="{ 'active-burger': burgerActive === true }"
      (click)="onToggleBurger()"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <ul class="nav__menu" [ngClass]="{ active: burgerActive === true }">
    <li>Home</li>
    <li>Service</li>
    <li>Clients</li>
    <li>About Us</li>
    <li [routerLink]="['/contact-us']">Contact Us</li>
    <li>
      <button class="login" [routerLink]="['/login']">LOGIN</button>
    </li>
  </ul>
</nav>
