.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--white);
  transition: height 1s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px;

  .active {
    height: 270px;
    li {
      transform: translateY(0);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
  }

  &__brand {
    margin-left: 2rem;
    p {
      font-size: var(--big);
      color: var(--primary);
    }
  }

  &__burger {
    height: 100%;
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    margin-right: 1rem;
    width: 40px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 1;

    &.active-burger {
      span {
        &:first-child {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          top: 0px;
          left: 0px;
          width: 35px;
        }
        &:nth-child(2) {
          width: 0%;
          opacity: 0;
        }
        &:last-child {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          bottom: 0px;
          left: 0px;
          width: 35px;
        }
      }
    }

    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background-color: var(--secondary);
      border-radius: 9px;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }

      &:nth-child(2) {
        top: 12px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }

      &:nth-child(3) {
        top: 24px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
    }
  }

  &__menu {
    text-align: center;
    list-style: none;
    transition: height 1s ease;
    background-color: white;
    height: 0px;
    li {
      transform: translateY(-350px);
      cursor: pointer;
      font-size: var(--extra-regular);
      font-weight: var(--semi-bold);
      color: var(semi-light-secondary);
      padding: 0.5rem 0rem 0.3rem 0rem;
      transition: transform 1.1s ease;
    }

    button {
      height: 45px;
      width: 170px;
    }
  }
}

@media (min-width: 993px) {
  .nav {
    display: flex;
    max-height: 70px;

    &__header {
      width: 10%;
    }
    &__burger {
      display: none;
    }

    &__menu {
      width: 100%;
      text-align: right;
      margin-right: 2rem;
      margin-top: 0.9rem;
      li {
        display: inline;
        margin-left: 2rem;
        &:hover {
          color: var(--primary);
        }
      }
    }
  }
}
