.nav {
  height: 70px;
  background-color: var(--white);
  transition: height 1s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px;

  &.active {
    height: 330px;
    ul {
      -webkit-transform: translateY(-145%);
      transform: translateY(-125%);
    }
  }

  &__header {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
    height: 100%;
  }

  &__brand {
    margin-top: 0.5rem;
    height: 100%;
    margin-left: 1rem;

    p {
      font-size: var(--big);
      color: var(--primary);
    }
  }

  &__burger {
    margin-top: 1.5rem;
    margin-right: 1rem;
    width: 40px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 1;

    &.active-burger {
      span {
        &:first-child {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          top: 0px;
          left: 0px;
          width: 35px;
        }
        &:nth-child(2) {
          width: 0%;
          opacity: 0;
        }
        &:last-child {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          bottom: 0px;
          left: 0px;
          width: 35px;
        }
      }
    }

    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background-color: var(--secondary);
      border-radius: 9px;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }

      &:nth-child(2) {
        top: 12px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }

      &:nth-child(3) {
        top: 24px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
    }
  }

  &__menu {
    margin-top: 2rem;
    text-align: center;
    list-style: none;
    padding-left: 0px;
    transform: translateY(-145%);
    transition: transform 1s ease;

    li {
      cursor: pointer;
      font-size: var(--extra-regular);
      font-weight: var(--semi-bold);
      color: var(semi-light-secondary);
      padding: 0.5rem 0rem 0.3rem 0rem;
    }

    button {
      height: 45px;
      width: 170px;
    }
  }
}

@media (min-width: 577px) {
}

@media (min-width: 993px) {
  .nav {
    display: flex;
    justify-content: space-between;

    &__burger {
      display: none;
    }

    &__menu {
      -webkit-transform: none;
      transform: none;
      margin-right: 3rem;
      margin-top: 0.6rem;
      li {
        display: inline;
        margin-left: 1rem;
        &:hover {
          color: var(--primary);
        }
      }
    }
  }
}
