.signup1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("../../../assets/hero-banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &__left {
    display: none;
    border-right: 1px solid var(--light-secondary);
  }

  &__right {
    padding: 2rem 3rem 2rem 3rem;

    h2 {
      font-weight: var(--semi-bold);
      font-size: var(--big);
    }
  }

  &__requirements {
    list-style-type: circle;
    margin-top: 2rem;
    li {
      color: var(--semi-light-secondary);
    }

    .active {
      color: var(--primary);
      list-style-type: disc !important;
    }
  }

  &__footer {
    margin-top: 2rem;
    text-align: center;

    .terms {
      margin-top: 0.7rem;
      p {
        margin-top: 1rem;
        margin-top: 1rem;
        text-align: center;
      }
      span {
        color: var(--primary);
      }
    }
  }

  .step {
    color: #ccc;
    font-size: var(--small);
    text-align: center;
    margin-top: 1rem;
  }
}

@media (min-width: 993px) {
  .signup1 {
    &__content {
      @media (min-width: 993px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 48px;
        color: var(--primary);
        font-weight: var(--regular);
      }
    }
  }
}
