<div class="forgotPassword">
  <div>
    <app-card [styles]="{ 'max-width': '740px' }">
      <div class="forgotPassword__content">
        <h1>umami</h1>
        <h2 class="mb-1">Forgot Password?</h2>
        <p class="forgot__p1 mt-1">
          Enter your Email address to recover your password.
        </p>
        <div class="input-left-icon mt-2 mb-1">
          <div class="icon">
            <img src="../assets/emailInputIcon.png" alt="input icon" />
          </div>
          <input type="text" placeholder="Email Address" />
        </div>
        <button class="mt-0" [routerLink]="['/change-password']">Submit</button>
        <p class="forgot__p2 mt-2">
          Already have an account? <a [routerLink]="['/login']">Sign In</a>
        </p>
      </div>
    </app-card>
  </div>
</div>
