.forgotPassword {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("../../../assets/hero-banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &__content {
    text-align: center;
    width: 100%;
    h1 {
      color: var(--primary);
      font-size: var(--extra-big);
      font-weight: var(--fw-regular);
    }
    h2 {
      font-size: var(--medium-big);
      font-weight: var(--semi-bold);
      color: #000000;
    }

    .input-left-icon {
      width: 350px;
      margin-left: auto;
      margin-right: auto;
    }

    button {
      width: 350px;
      height: 40px;
    }
  }

  &__p1 {
    font-weight: var(--semi-bold);
    color: hsl(0, 0%, 51%);
  }

  &__p2 {
    font-size: var(--extra-regular);
    color: var(--secondary);
    span {
      color: var(--primary);
    }
  }
}

.input-left-icon {
  display: flex;
  .icon {
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 95%); //#f2f2f2
    height: 50px;
    width: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  img {
    height: 20px;
    background-color: hsl(0, 0%, 95%); //#f2f2f2
    margin-left: 1rem;
  }

  input {
    height: 50px;
    background-color: hsl(0, 0%, 95%); //#f2f2f2
    border: 0;
    width: 100%;
    text-align: left !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    &:focus {
      outline: 0;
    }
  }
}
