<div class="banner">
  <div class="banner__main container">
    <div class="banner__info">
      <img
        class="cp-table-view"
        src="../../../assets/cp-tableView.png"
        alt="info image"
      />
      <h1>
        UMAMI <br />
        <span>Build Different</span>
      </h1>
      <p>
        Umami offers a seamless digital ordering experience to customers. It
        allows users to check, order and pay at the convenience of their mobile
        phones. A tech-driven alternative to traditional paper menus or digital
        static menus.
      </p>
      <button>Subscribe Now!</button>
    </div>
    <div class="banner__image">
      <img alt="banner info image" src="../../../assets/banner-image.png" />
    </div>
  </div>
</div>
