<div class="verifyEmail">
  <div>
    <app-card [styles]="{ 'max-width': '740px' }">
      <div class="verifyEmail__content">
        <h1>umami</h1>
        <h2>Verify your email</h2>
        <p class="verification__p1">
          Click the link below to verify your email and start subscribing to
          Umami.
        </p>
        <button [routerLink]="['/verified']">Verify Email</button>
        <p class="verification__p2 mt-3">
          Questions? Email us at <span>umami@umami.com</span>
        </p>
      </div>
    </app-card>
  </div>
</div>
