<div class="forgotPassword2">
  <div>
    <app-card [styles]="{ 'max-width': '740px' }">
      <div class="forgotPassword2__content">
        <h3 class="mb-1">Change password</h3>
        <p class="forgot2__p1 mt-1">
          Your new password must be different from previous used passwords
        </p>
        <app-input
          label="Old Password"
          [icon]="false"
          errorMessage="error message"
        ></app-input>
        <app-input
          label="New Password"
          [icon]="true"
          errorMessage="error message"
        ></app-input>
        <app-input
          label="Confirm New Password"
          [icon]="true"
          errorMessage="error message"
        ></app-input>
        <ul class="requirementList">
          <li class="active">Contains at least one uppercase</li>
          <li>Contains at least one number</li>
          <li>Contains at least one special character</li>
          <li>Minimum eight (8) characters</li>
        </ul>
        <button class="mt-2" [routerLink]="['/login']">Confirm</button>
      </div>
    </app-card>
  </div>
</div>
